---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #ff5c5c;
}

.page-header {
	color: #000;
	background-color: #F49979;
	padding: 3rem 4rem 1rem 4rem;
	background-image: linear-gradient(120deg, #ea3838, #ffaa56);
}

.page-header svg {
	width: 100%;
	@media screen and (max-width: 485px) {
		width: 485px;
	}
}

a {
	color: #ff7e00;
}
