---
---

@import "{{ site.theme }}";

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
	color: #f01818;
}

.page-header {
	color: #fff;
	background-color: #400;
	padding: 3rem 3rem 1rem 3rem;
	background-image: radial-gradient(circle at top, #a80000, #000);
}

.page-header svg {
	width: 100%;
	max-width: 35rem;
}

a {
	color: #830f0f;
}
